<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>NAUGHTY AMERICA NOBODY DOES BETTER</title>
  </head>
  <body>
    <h1><strong>BREAD: Brave, Ready, Encourage, Ad', Dead</strong></h1>
    <div id=menu>
       <a href="/">home</a> | <a href="ADD">Add</a>
 <br>
 <br>
 <br>
       <form action="/add" method="post">
       <table>
        <tr>
          <td>string</td>
          <td><input name="string"></input></td>
        </tr>

        <tr>
          <td>Integer</td>
          <td><input type='number' name="integer" step='1'></input></td>
        </tr>

        <tr>
          <td>Float</td>
          <td><input type='number' name="float" step='0,01'></input></td>
        </tr>

        <tr>
          <td>Date</td>
          <td><input name="start_date" type="date"></input></td>
        </tr>

        <tr>
          <td>Boolean</td>
          <td><select name="boolean">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select>
          </td>
        </tr>

        <tr>

          <td colspan="3"><input type="submit" value="ADD"></input></td>

        </tr>
       </table>
     </form>


    </div>
  </body>
</html>
